{% extends "base.html" %}

{% block content %}


        <form action="/login" method="POST" >
            <table>
                <tr>
                    <td><label for="username">username</lable></td>
                    <td><input id="username" type="text" name="username" value="{{username}}" /></td>
                    {% if error_username%}
                    <td class="error">{{ error_username }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><label for="passwords">Password</lable></td>
                    <td><input id="passwords" type="password" name="passwords" /></td>
                    {% if error_passwords %}
                    <td class="error">{{ error_passwords }}</td>
                    {% endif %}
                </tr>
            </table>
                
                <input type="submit" value="Submit" />

            <p>No username ? <a href='/signup'> Register!</a>
        

        </form>  

{% endblock %}