{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
                                            
    {% for category, messages  in messages %}
        <p>{{messages}}</p>
    {% endfor %}
{% endwith %}


        <form action="/signup" method="POST" >
            <table>
                <tr>
                    <td><label for="username">User name</lable></td>
                    <td><input id="username" type="text" name="username" value="{{email}}" /></td>

                </tr>
                <tr>
                    <td><label for="password">Password</lable></td>
                    <td><input id="password" type="password" name="password" /></td>

                </tr>
                
                <tr>
                    <td><label for="verifypassword">Verify Password</label></td>
                    <td><input id="verifypassword" type="password" name="verifypassword" /></td>

                </tr>
                
 

            </table>
                
                <input type="submit" value="Submit" />
        
        </form>  

{% endblock %}